<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web Scraping Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="style.css">
    <!-- This html doc isnt reading my style sheet -->
</head>
<body>
    <div class="container-fluid">
        <div class="jumbotron text-center">
          <h1>Mission to Mars</h1>
          <p>Some general information about our planetary neighbor!</p>
          <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Learn About Mars!</a></p>
        </div>

        <div class="row" id="mars-info">
            <div class="col-md-6" align ="center">
              <h2>Latest Mars News</h2>
              <h3 class="heading" text-align="center">{{mars.news_title}} </h3>
            </div>
        </div>
        <div class="row">
          <div class= "col-md-6" align ="center">
             <p> {{mars.news_paragraph}}</p>
          </div>
      
            <div class= "col-md-6" align ="center">
                <span class="border"></span>
              <h3>Current Weather On Mars</h3>
              <small>{{mars.twitter}}</small>
            </div>
       </div> 


      <div class="row">
        <div class ="col-md-6" align ="center">
          <h4>NASA Featured Image</h4>
        <img src="{{mars.featured_image}}"  alt = "Mars Featured Image" width="60%" >
        </div>
   
      <div class = "col-md-6" align ="center">
        <h4>Mars Facts</h4>
       <p> {{mars.mars_info|safe}}</p>
      </div>
    </div>





       <!-- The 4 photos -->
    <div class="container">
        <h1 class="my-4" align="center" >Mars Hemispheres</h1>
       <div class="row">
        <div class="col-lg-6 portfolio-item" align = "center">
          <div class="card h-100">
            <img src="{{mars.hemisphere_images[0].img_url}}" style="width:60%" alt="Valles Marineris Hemisphere">
            <div class="card-body">
              <h4 class="card-title">
                <p> {{mars.hemisphere_images[0].title}}</p>
              </h4>
            </div>
          </div>
        </div>
        <div class="col-lg-6 portfolio-item" align="center">
          <div class="card h-100">
            <img src="{{mars.hemisphere_images[1].img_url}}" style="width:60%" alt="Cerberus Hemisphere">
            <div class="card-body">
              <h4 class="card-title">
                <p> {{mars.hemisphere_images[1].title}}</p>
              </h4>
            </div>
          </div>
        </div>
        <div class="col-lg-6 portfolio-item" align ="center">
          <div class="card h-100">
            <img src="{{mars.hemisphere_images[2].img_url}}" style="width:60%" alt="Schiaparelli Hemisphere">
            <div class="card-body">
              <h4 class="card-title">
                <p> {{mars.hemisphere_images[2].title}}</p>
              </h4>
            </div>
          </div>
        </div>
        <div class="col-lg-6 portfolio-item" align ="center">
          <div class="card h-100">
            <img src="{{mars.hemisphere_images[3].img_url}}" style="width:60%" alt="Syrtis Major Hemisphere">
            <div class="card-body">
              <h4 class="card-title">
                <p> {{mars.hemisphere_images[3].title}}</p>  
              </h4>          
            </div>
          </div>
        </div>
      </div>
    </body>
</html>