<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web Scraping Mars</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>
<body>
    <div class="container-fluid">
        <div class="jumbotron text-center">
          <h1>Visit Mars</h1>
          <p>Some general information about our planetary neighbor!</p>
          <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Learn About Mars!</a></p>
        </div>

        <div class="row" id="mars-info">
            <div class="col-md-12">
              <h4 class="heading">{{mars.news_title}} {{mars.news_paragraph}}</h4>
              <small>{{mars.twitter}}</small>
            </div>
       </div> 

        <img src="{{mars.featured_image}}">


       <!-- need help navigating the dictionary for the images  -->
       
       <p> {{mars.mars_info|safe}}</p>

       <img src="{{mars.hemisphere_images[0].img_url}}">
       <img src="{{mars.hemisphere_images[1].img_url}}">
       <img src="{{mars.hemisphere_images[2].img_url}}">
       <img src="{{mars.hemisphere_images[3].img_url}}">

    </body>
</html>